#
#DirectoryIndex index.php
#Options Indexes FollowSymLinks MultiViews
#AllowOverride All
#Require all granted
#
##<IfModule mod_rewrite.c>
#
       RewriteEngine On
       #RewriteBase /public/

       RewriteRule ^/index\.php$ - [L,NC]

       RewriteCond %{REQUEST_FILENAME} !-f
       RewriteCond %{REQUEST_FILENAME} !-d
       RewriteRule . index.php [L]
#
##</IfModule>